/* toolbar-2.css  2022-01-18  usp */

#main-toolbar {
	display : block ;
	position : sticky;
	top : 0px ;
	right : 0px ;
	padding-left : 20px ;
	padding-top : 5px ;
	height : 30px ;
	border-top : 1px none gray;
	border-bottom : 1px solid darkorange;
	background-color : white ;
	z-index : 10 ;
	}

svg.tool.button g { stroke : gray }
svg.tool.button:hover g { stroke : darkorange }
.tool.button + .tool.button { margin-left : 10px }
svg.tool.button g #vertical { stroke : transparent }
svg.tool.button[expand] g #vertical { stroke : gray }
svg.tool.button[expand]:hover g #vertical { stroke : darkorange }

.xtool.button {
	display : inline-block ;
	/* Make sure width and height matches attributes in toolbar.js:createSVG, minus 1! */
	width : 32px ;
	height : 32px ;
	margin-right : 15px ;
	border : 1px solid transparent;
	border-radius : 8px;
	background-repeat : no-repeat ;
	background-position : center, center ;
	stroke : gray ;
	}

.xtool.button:hover {
	stroke : darkorange ;
	}

.xtool.button:hover svg {
	stroke : darkorange ;
	}

.xtoolbar svg #vertical {
	stroke : transparent ;
	}

.xtoolbar svg[expand] #vertical {
	stroke : gray;
	}

.xtoolbar svg[expand]:hover .expand {
	stroke : darkorange;
	}
	