/*
 *		path-bar-1.css  2022-07-15  usp
 */

div.path-bar { 
	border : 1px darkorange ;
	border-style : none none solid none ;
	height : 30px ;
	position : relative ;
	overflow : hidden ;
	user-select : none ;
	}
div.path-bar a { 
	font-size : 80% ;
	text-decoration : none ;
	}
div.path-bar a:hover {
	text-decoration : underline ;
	}
div.path-bar div { 
	display : inline-block ;
	position : absolute ;
	width : auto ; 
	vertical-align : middle ;
	border : 1px none silver ;
}
div.path-bar div.content {
	left : 20px ;
	white-space : nowrap ;
	}
div.path-bar div.scroll { 
	background-repeat : no-repeat ;
	background-position : center center ;
	background-size : contain ;
	background-color : white ;
	border : 1px none red ;
	width : 40px ;
	height : 20px ;
	top : 5px ;
	display : none ;
	border : 1px none silver ;
	}
div.path-bar div.scroll.left { 
	background-image : url(/inc/navigation/arrow-left.svg) ;
	left : 0px ;
	}
div.path-bar div.scroll.right { 
	background-image : url(/inc/navigation/arrow-right.svg) ;
	right : 0px ;
	}
